<div class="buttons-wrapper">
  <a href="/" class="logo">CodeShare</a>
  <div class="buttons">
    <a href="/new" class="btn">New</a>
    <% if (locals.canSave) { %>
    <button class="btn" type="submit">Save</button>
    <% } %> <% if (locals.id) { %>
    <a class="btn" href="/duplicate/<%= locals.id %>">Duplicate</a>
    <% } %>
  </div>
</div>
